/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

/* Default Styles */
:root {
	--gray: #293c3d;
	--dark-slate-gray: #314749;
	--prussian-blue: #233b58;
	--indigo-blue: #0f3f6c;
	--light-blue: #185477;
	--red: #ff4747;
	--yellow: #ffed85;
	--green: #b6cea1;
	--light-green: #e0ead7;
	--background-gray: #e5e7eb;
	--background-light: #fefefe;
	--text-primary: #f9faf8;
	--text-secondary: #e5e7eb;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Comfortaa", sans-serif;
}

a {
	text-decoration: none;
}

button {
	all: unset;
	outline: revert;
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
}

input,
textarea,
button,
select {
	font: inherit;
}

.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

::selection {
	background-color: var(--indigo-blue);
	color: var(--text-primary);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* Header */
header {
	background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
		url(assets/imgs/hero.JPG);
	background-size: cover;
	background-position: center;
	color: var(--text-primary);
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* Nav */
nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	padding-block: 1rem;
}

/* .scrolled {
	background-color: #1b2e44ee;
	transition: all 100ms;
} */

nav a {
	color: var(--text-primary);
}

nav a:hover {
	opacity: 0.9;
}

.logo {
	font-size: 1.25rem;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#signup,
#login {
	padding: 0.5rem 0.75rem;
	border-radius: 0.3rem;
	font-size: 0.8rem;
	min-width: 6.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

#signup:hover,
#login:hover {
	opacity: 0.9;
}

#signup {
	background-color: #c1dea8;
	color: var(--prussian-blue);
	border: 2px solid #c1dea8;
}

#login {
	background-color: transparent;
	color: var(--text-primary);
	border: 2px solid var(--text-primary);
}

#login:hover {
	background-color: var(--text-primary);
	color: var(--prussian-blue);
}

#signup i,
#login i {
	padding-right: 0.5rem;
}

/* Hero */
.hero {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.hero h1 {
	font-size: 2.5rem;
}

.hero p {
	font-size: 1.5rem;
	margin: 0.5rem 0 1.5rem;
	width: 85%;
	line-height: 1.25;
}

.hero a {
	background-color: var(--background-light);
	color: var(--prussian-blue);
	padding: 0.6rem 1.2rem;
	border-radius: 0.3rem;
	font-size: 1.25rem;
	font-weight: bold;
}

.hero a:hover {
	opacity: 0.9;
}

.hero img {
	border-radius: 0.3rem;
	max-height: 300px;
}

/* Scroll Arrow */
.scroll {
	margin: 0 auto;
	padding: 2rem 0 1rem;
}

#scroll-down {
	animation: bounce 1.6s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
	font-size: 2.5rem;
	color: var(--text-primary);
}

#scroll-down:hover {
	cursor: pointer;
	opacity: 0.9;
}

@keyframes bounce {
	0% {
		translate: 0 0;
	}

	50% {
		translate: 0 -1rem;
	}
}

/* Main */

/* Home Arrow */
#home-arrow a {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	background-color: #1c2f46;
	color: var(--text-primary);
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3rem;
	padding: 0.5rem;
	opacity: 1;
	display: none;
}

#home-arrow:hover {
	cursor: pointer;
	opacity: 0.9;
}

/* About */
#about {
	background-color: var(--background-gray);
	padding: 5rem 0;
	scroll-margin-top: 20px;
}

#about .about {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	text-align: center;
	max-width: 1200px;
	margin-inline: auto;
}

#about .about-content {
	width: 85%;
	color: var(--prussian-blue);
}

#about .about-content img {
	height: 100px;
	margin-bottom: 1rem;
}

#about .about-content h3 {
	margin-bottom: 0.5rem;
	font-size: 1.4rem;
}

#about .about-content p {
	color: var(--prussian-blue);
	line-height: 1.25;
	font-size: 1.125rem;
	font-weight: 300;
}

/* Features */
#features {
	background-color: var(--background-light);
	padding: 5rem 0;
}

/* Hr tags */
hr {
	height: 0.3rem;
	background-color: var(--red);
	border-radius: 0.13rem;
	border: 0;
	width: 50%;
	margin-left: auto;
}

.even-hr {
	margin-right: auto;
	margin-left: 0;
}

#features .feature {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	padding: 5rem 0;
}

#features .feature-content {
	width: 100%;
}

#features .feature-content:nth-of-type(even) {
	text-align: right;
}

#features .feature-content h2 {
	font-size: 2.5rem;
	color: var(--prussian-blue);
	margin-bottom: 0.3rem;
}

#features .feature-content p {
	font-size: 1.25rem;
	color: var(--prussian-blue);
	letter-spacing: 0.05rem;
	line-height: 1.25;
}

#features .feature-content a {
	display: inline-block;
	background-color: var(--prussian-blue);
	color: var(--text-primary);
	margin-top: 0.5rem;
	padding: 0.6rem 1.5rem;
	border-radius: 0.3rem;
	font-size: 1.125rem;
	opacity: 0.9;
	font-weight: bold;
}

#features .feature-content button:hover,
#features .feature-content a:hover {
	opacity: 1;
}

#features .feature-image img {
	height: 20rem;
}

/* App */
#app {
	background-color: #c1dea877;
	padding: 5rem 0;
	scroll-margin-top: 40px;
}

#app .app {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	width: 80%;
}

#app .app img {
	width: 50%;
	height: auto;
}

#app .app-content {
	text-align: center;
	color: var(--prussian-blue);
}

#app .app-content h4 {
	font-size: 2rem;
}

#app .app-content p {
	font-size: 1.25rem;
	color: var(--prussian-blue);
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
	line-height: 1.25;
}

#app .app-content button {
	background-color: var(--prussian-blue);
	color: var(--text-primary);
	border-radius: 0.3rem;
	padding: 0.6rem 1.2rem;
	font-size: 1.125rem;
	opacity: 0.9;
	font-weight: 700;
}

#app .app-content button:hover {
	opacity: 1;
}

/* Footer */
footer {
	background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
		url(assets/imgs/hero.JPG);
	background-size: cover;
	background-position: center;
	padding: 10rem 0 7rem;
}

footer .footer-top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: end;
	align-items: center;
	color: var(--text-primary);
}

footer .footer-logo {
	color: var(--text-primary);
	font-size: 2.25rem;
}

footer .footer-logo:hover {
	opacity: 0.9;
}

footer .footer-desc {
	color: var(--text-secondary);
	margin-top: 0.75rem;
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 300;
}

footer .footer-link-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
	place-items: center;
}

footer .footer-links {
	text-align: center;
}

footer .footer-links h6 {
	font-size: 1.125rem;
	margin-bottom: 0.75rem;
}

footer .footer-links a {
	color: var(--text-secondary);
	opacity: 0.9;
}

footer .footer-links a:hover {
	opacity: 1;
}

footer .footer-links li {
	margin-bottom: 0.5rem;
}

footer .footer-hr {
	margin: 5rem auto;
	height: 0.3rem;
	border: 0;
	background-color: var(--red);
	opacity: 0.7;
	width: 85%;
}

footer .footer-bottom {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	gap: 3rem;
	color: var(--text-primary);
}

footer .socials a {
	color: var(--text-primary);
	font-size: 2.5rem;
}

footer .socials i {
	transition: all 300ms ease-out;
}

footer .socials i:hover {
	transform: translateY(-0.5rem);
	opacity: 0.9;
	color: var(--red);
}

footer .socials a:nth-of-type(2) {
	margin-inline: 1rem;
}

footer .donate {
	color: var(--text-primary);
	text-align: center;
}

footer .donate h5 {
	font-size: 1.75rem;
	font-weight: normal;
}

footer .donate p {
	font-size: 1.125rem;
	line-height: 1.25;
	font-weight: 300;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
}

footer .donate button {
	border: 0.1rem solid #c1dea8;
	background-color: #c1dea8;
	color: var(--prussian-blue);
	font-weight: bold;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	opacity: 0.9;
}

footer .donate button i {
	margin-left: 1rem;
}

footer .donate button:hover {
	opacity: 1;
}

.copyright {
	text-align: right;
}
